<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDMdmqr9dAQ5nIEmKfWUL_RSCipjlM-1u0</string>
	<key>GCM_SENDER_ID</key>
	<string>197916001844</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.friendoMeinprojekt</string>
	<key>PROJECT_ID</key>
	<string>friendo-3587c</string>
	<key>STORAGE_BUCKET</key>
	<string>friendo-3587c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:197916001844:ios:0b57e2f9eb7c286d9f6c61</string>
</dict>
</plist>